.button {
    display: flex;
    flex-direction: row;

    font-size: 1rem;
    font-weight: bold;

    min-width: 3.5rem;
    aspect-ratio: 1;
    border-radius: 14px;

    color: white;
    background-color: #8f4000;

    &:hover {
        background-color: #7a3700;
    }
}
