.container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    // margin-bottom: 1rem;
    margin: 14px;
    margin-bottom: 7px;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 1rem;
    margin: 0;
}

.p {
    color: rgb(225, 225, 225);

    font-size: 1rem;
    margin: 0;
}

// Menu
.menuItem {
    margin: 0;
    padding: 0 14px;
}
.menuItemIcon {
    margin-right: 7px;
}
